<html>
<head>
    <title>Choose Your Own Adventure</title>
</head>
<body>
    <h2>{{.Title}}</h2>
    <p>{{.Story}}</p>

    {{range .Option}}
        <p>[<a href="/cyoa/?option={{.Arc}}">{{.Text}}</a>]</p>
    {{end}}
</body>
</html>